.main {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* justify-content: space-between; */
  /* align-items: center;
  padding: 6rem;
  min-height: 100vh; */
}

.div {
  width: 100%;
  height: min-content;
}

.hero {
  padding-top: 2rem;
}

.userbtn {
  display: flex;
  float: right;
}